<div class="captcha-page-container">

  <!--  top tool bar-->
  <div class="top-bar" style="align-items:center">
    <div class="captcha-setting">
      <span style="font-weight:bold;font-size:20px;color:#F9BD28;">
        <img class="add-task-button" (click)="openModalWithClass(loginProxyModal)" src="assets/svg/playlist_add-white-18dp.svg"/>
        Harvesters: {{Object.values(this.harvesters).length}}
      </span>

    </div>
    <div style="float: right;margin-right: 20px;">
      <button id="clearCaptcha" class="button bottom-button" (click)="clearYoutube()">CLEAR ALL</button>
<!--      <button id="captchaInfo" style="color: black" class="button bottom-button" (click)="test()">Show Info</button>-->
<!--      <button id="captchaInfo2" style="color: black" class="button bottom-button" (click)="getToken()">Get New Token</button>-->
    </div>
  </div>

  <div style="display: flex; justify-content: right; flex-wrap: wrap;">
    <mat-card class="harvester-card" *ngFor="let harvester of Object.values(harvesters)" (click)="openCaptchaWindow(harvester.index)">
  <!--    <mat-card-header>-->
  <!--      <div mat-card-avatar class="harvester-header-image"></div>-->
  <!--      <mat-card-title>Email</mat-card-title>-->
  <!--    </mat-card-header>-->
      <img mat-card-image src="assets/png/captcha.png">
      <mat-card-content>
        <div>
          ID: {{harvester.index}}
        </div>
        <div style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden">
          Proxy: {{harvester.proxy}}
        </div>
      </mat-card-content>
<!--      <mat-card-actions>-->
<!--        <button style="float: right;color: white;background-color: red;border-radius: 5px;border: none;">CLOSE</button>-->
<!--      </mat-card-actions>-->
    </mat-card>
  </div>

</div>



<ng-template #loginProxyModal>
  <div class="modal-header">
    <h4 class="modal-title">Please enter the Proxy associated with your Google Account, Leave it blank if using Localhost.</h4>
    <input id="captchaProxy" name="captchaProxy" placeholder="Enter proxies as ip:port:username:password" [(ngModel)]="captchaProxy"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-white" data-dismiss="modal" (click)="curModal.hide()">Close</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" style="background:#219E6C" (click)="openCaptcha();curModal.hide()">Login</button>
  </div>
</ng-template>
