<div class="home-container">
  <mat-tab-group matTabGroup animationDuration="0ms" mat-stretch-tabs class="nav-container" (focusChange)="updateInfo();updateSuccess()">
    <mat-tab label="Dashboard" class="nav-item">
      <app-dashboard [profiles]="profiles" [proxyGroups]="proxyGroups"></app-dashboard>
    </mat-tab>
    <mat-tab label="Proxy" class="nav-item">
      <app-proxy></app-proxy>
    </mat-tab>
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <img src="assets/png/logo_hypeeyes.png" style="height: 30px;">
      </ng-template>
    </mat-tab>
    <mat-tab label="Profile" class="nav-item">
      <app-profiles></app-profiles>
    </mat-tab>
    <mat-tab label="Success" class="nav-item">
      <app-success [successLog]="successLog"></app-success>
    </mat-tab>
  </mat-tab-group>
</div>
