.home-container {
  display: flex;
  justify-content: space-between;
}

.mat-tab-label-container {
  background-color: currentColor;
  height: 35px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Styles for tab labels */
.mat-tab-label {
  height: 35px !important;
  min-width: 20px !important;
  background-color: transparent;
  color: #AFAFAF;
  font-size: 22px;
  font-weight: 600;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  height: 35px !important;
  min-width: 20px !important;
  background-color: transparent;
  color: #f9a128;
  font-size: 22px;
  font-weight: 600;
}
